html {
  font-family: sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    background-color: #d5d5d5;
    margin: 0;
    padding: 1em;
}

@media (max-width: 700px) {
    body {
        padding: 0;
    }
}

@media print {
    .content {
        box-shadow: none;
    }
    body {
        padding: 0;
        background-color: white;
    }
}
  
.content {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 100px;
    padding-top: 0.5em;
    max-width: 700px;
    line-height: 1.5;
}

  
.katex-display {
    overflow: auto hidden;
} 

.highlight {
    /* margin-left: 2em; */
    font-size: 13px;
    line-height: 1.3em;
    overflow-x: auto;
}
 
nav {
    margin-top: 15px;
    margin-bottom: 15px;
  }

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul li {
    display: inline;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table th,
table td {
    padding-left: 1.25em;
    padding-right: 1.25em;
}
table th {
    border-bottom: 1px solid black;
}
