---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// add horizontal scrolling to overflowing elements
div.post-content div:not(.highlight) {
     overflow-x: auto;
     margin-bottom: 1rem;
}

table {
  margin: 0;
}

blockquote {
    //font-style: normal
    letter-spacing: normal;
    font-size: 16px;
}
