---
layout: default
---
<div id='blog' class='wrap'>
    <h1>Posts</h1>
    <div id='posts' class='section'>
        {% for post in site.posts %}
            {% unless post.hide %}
                <div class='post-row'>
                    <p class='post-title'>
                        <a href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </p>
                    <p class='post-date'>
                        {{ post.date | date_to_long_string }}
                    </p>
                </div>
                <p class='post-subtitle'>
                    {{ post.excerpt }}
                </p>
                <span class='hidden'>{{ forloop.index }}</span>
            {% endunless %}
        {% endfor %}
    </div>
</div>
